@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/core/lib/less/variables";

@window-padding: 20px;

#main-view-container {
    width: 100vw;
    height: 100vh;
    overflow: auto;

    display: flex;
    flex-direction: column;

    #header {
        min-height: 50px;
        background-color: @dark-gray1;
        padding: 0 @window-padding;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #node-viewer {
        background-color: @light-gray4;
        flex-basis: 33%;

        display: flex;
        flex-direction: row;
        align-items: stretch;

        .spending {
            font-size: 20px;
            color: @dark-gray5;
        }

        #barchart {
            flex-basis: 67%;

            .barchart {
                .axis {
                    line, path {
                        stroke: @dark-gray5;
                    }
                }

                text {
                    fill: @dark-gray5;
                }

                text.selected {
                    fill: @black;
                    font-weight: 800;
                    font-size: 13px;
                }
            }
        }

        #path-breadcrumbs {
            background-color: @light-gray3;
            flex-basis: 33%;
            padding: @window-padding;
        }
    }

    #information-viewer {
        background-color: @light-gray3;
        flex-basis: 67%;
        overflow: auto;
        overflow-x: hidden;

        display: flex;
        flex-direction: row;

        #partition {
            height: 100%;
            overflow-x: hidden;
            overflow-y: auto;
            flex-basis: 67%;
        }

        #tree {
            background-color: @light-gray1;
            height: 100%;
            overflow: auto;
            flex-basis: 33%;
        }
    }
}

.bp3-tree {
    .bp3-tree-node-content:hover {
        background-color: @gray4;
    }

    .bp3-tree-node-selected > .bp3-tree-node-content:hover {
        background-color: @blue2;
    }
}
